[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "contingency"]
	path = contingency
	url = https://github.com/rje42/contingency
[submodule "rje"]
	path = rje
	url = https://github.com/rje42/rje
